@charset "UTF-8";

body{
    background-color: rgba(0, 0, 0, 0.226);
}
header{
    text-align: center;
    
}
nav {
    background-color: rgba(0, 0, 0, 0.479);
    color: rgb(255, 255, 255);
    text-align: left;
   
    
}
nav > a {
    text-decoration: none;
    color: #ffff;
    font-weight: normal;
    margin-right: 30px;


 }

 nav > a:hover {
    text-decoration: underline;
 }

main {
    
    background-color: rgba(8, 8, 8, 0.212);
}

div.video {
    position: relative;
    background-color: black;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
div.vilao{
    position: relative;
    background-color: black;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;

}
div.vilao > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

footer { 
    background-color: black;
    color: white;
    font-weight: normal;
    text-align: center;
    
}
a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(109, 129, 122);
}
footer > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

h1 {
    background-color: rgba(13, 65, 65, 0.637);    
    
}
h2 {
    background-color:  rgba(13, 65, 65, 0.637);
    text-align: center;
}
p {
    margin: 15px;
    text-align: auto;
}

.titulo{
    background-color: transparent;

}
   