@charset "UTF-8";

body{
    background-color: rgba(0, 0, 0, 0.466);
}
header{
    text-align: center;
}
nav {
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(255, 255, 255);
    text-align: left;
    
}
nav > a {
    color: #ffff;
    font-weight: normal;
    margin-right: 30px;
    

 }

main {
    background-color: rgba(8, 8, 8, 0.452);
}