@charset "UTF-8";

body {
    background-color: rgba(13, 65, 65, 0.473);   
}
header {
    text-align: center;
    background-color: rgba(13, 65, 65, 0.473); 
  
    
}

nav {
    background-color: rgba(13, 65, 65, 0.473);   
    color: rgb(255, 255, 255);
    text-align: left;
   
    
}
nav > a {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    margin-right: 5px;
    

 }

 nav > a:hover {
    text-decoration: underline;
    color: rgba(238, 238, 238, 0.719);
    background-color: rgba(83, 83, 83, 0.842);
 }

main {
    
    background-color: rgba(13, 65, 65, 0.37);
}

div.video {
    position: relative;
    background-color: black;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

footer { 
    background-color: black;
    color: white;
    font-weight: normal;
    text-align: center;
    
}
a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(109, 129, 122);
}
footer > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

h1 {
    
    background-color: rgba(13, 65, 65, 0.473);    
    
}
h2 {
    background-color:  rgba(13, 65, 65, 0.479);
    
}
.um {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0px 1px 0px rgba(104, 104, 104, 0.007);
    font-size: 16px;
    
}
p {
    margin: 15px;
    text-align: auto;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    background-color: transparent;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.466);
    

}

ul{
    list-style-position: outside;

}
h3 {
    background-color: rgba(13, 65, 65, 0.637);
    text-align: center;
    
}
.lista {
    color: rgb(0, 0, 0);
}


ul {
    text-decoration: none;
    color: #000000;
}


img {
    margin: 5px;
    padding: 5px;
}